<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserMapper">

	<!-- 全ユーザー取得 -->
	<select id="findAll" resultType="com.example.demo.entity.UserEntity">
	
	SELECT
		id,
		name,
		address,
		phone,
		update_date,
		create_date
	FROM "user"<!-- "user は PostgreSQL の予約語なので、クォートしないとエラーになる" -->
	ORDER BY id
	
	</select>


	<!-- ユーザー取得 -->
	<select id="getOne" resultType="com.example.demo.entity.UserEntity">

	SELECT
		id,
		name,
		address,
		phone,
		update_date,
		create_date
	FROM "user"<!-- "user は PostgreSQL の予約語なので、クォートしないとエラーになる" -->
	WHERE id = #{id}

	</select>
	
	
	 <!-- ユーザー新規登録 -->
    <insert id="save" parameterType="com.example.demo.entity.UserEntity">

	INSERT INTO "user" (
		name, <!-- idはSERIAL型なのでDB側で自動採番される -->
		address,
		phone,
		update_date,
		create_date
	) VALUES (
		#{id},
		#{name},
		#{address},
		#{phone},
		#{update_date},
		#{create_date}
	)

	</insert>

</mapper>